.snow .wc-chatview-panel{
    background-color:#282828;
    border-radius: 10px 10px 0 0;
}

.snow .wc-header {
    background-color: #515151;
    color: #ADD8E6;
    text-align: center;
    border-radius: 10px 10px 0 0 ;
}

.snow .wc-message-groups {
    background-color: #282828;
    border-left: 1px solid #0256A3;
    border-right: 1px solid #0256A3;
    background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'),
        url('http://www.wearewebstars.dk/codepen/img//s2.png'),
        url('http://www.wearewebstars.dk/codepen/img//s3.png');
	animation: anim 10s linear infinite;
}

.snow .wc-message-from {
    color: #CACACA;
}

.snow .wc-message-from-me .wc-message-content {
    background-color: #264f78;
    color: #7cdcf0;
    border-radius: 10px 10px 0;}


.snow .wc-message-from-bot .wc-message-content {
    background-color: #613214;
    color: #cfba5c;
    border-radius: 10px 10px 10px 0px;}

.snow .wc-message-from-me svg.wc-message-callout path, .snow .wc-message-from-bot svg.wc-message-callout path {
    fill: none;
}

.snow .wc-console {
    border-color: #515151;
    background-color: #111111;
}

.snow .wc-textbox input{
    background-color: #111111;
    color: #7cdcf0;
}

.snow .wc-console.has-text .wc-send svg {
    color:#8a8a8a;
}


/** Snow animation gathered from: https://codepen.io/NickyCDK/pen/AIonk **/
@keyframes anim {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}